@using Microsoft.AspNetCore.Html
@using QuoridorWeb.WebApp.Drawable
@using QuoridorWeb.WebApp;
@model GameViewModel

<script src="~/lib/jquery/dist/jquery.min.js"></script>
@section Scripts{
    <script src="~/js/game.js"></script>
}

<div class="text-center">
    <button onclick="Move(0)">↑</button>
    <button onclick="Move(1)">↓</button>
    <button onclick="Move(2)">→</button>
    <button onclick="Move(3)">←</button>
    <button onclick="PlaceWall('0 1', '2 1')">Place wall</button>

    <p>Turn to move : 
        <div class="cell">
            @(new HtmlString(new PlayerDrawable(Model.game.players.IndexOf(Model.game.currentPlayer)).GetDrawString()))
        </div>
    </p>

    @(new HtmlString(Model.table))
    <br>

    <table>
        <tr>
            <td class="cell-solid"><img class="player" src='/img/Red_pawn.svg'> </td>
            <td class="cell-void"> </td>
            <td class="cell-solid"> </td>
        </tr>
        <tr>
            <td class="cell-void wall"> </td>
            <td class="cell-void wall"> </td>
            <td class="cell-void wall"> </td>
        </tr>
        <tr>
            <td class="cell-solid"> </td>
            <td class="cell-void"> </td>
            <td class="cell-solid"><img class="player" src='/img/Green_pawn.svg'> </td>
        </tr>
    </table>

    <script>
        var wallStartPosition;

        function Move(moveId) {
            window.location.href = '@Url.Action("Move", "Game")?moveId=' + moveId;
        }

        function PlaceWall(start, end) {
            var model = {
                wallStartPosition: start, 
                wallEndPosition: end
            }
            var modelJson = JSON.stringify(model);
            window.location.href = '@Url.Action("PlaceWall", "Game")?modelJson=' + modelJson;
        }

        function DisplayPosition(positionStr)
        {
            if(wallStartPosition == undefined)
                wallStartPosition = positionStr;
            else if(wallStartPosition != undefined)
                PlaceWall(wallStartPosition, positionStr);
        }
    </script>

    @if(!String.IsNullOrEmpty(Model.errorMessage))
    {
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                alert("@Model.errorMessage");
                wallStartPosition = undefined;
            });
        </script>
    }
</div>